{% block content %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="/static/search_engine/login.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
	<div class="login">
		{% if messages %}
			{% for message in messages %}
			<div class="alert alert-{{ message.tags }}">
				<h4> {{ message }} </h4>
			</div>
			{% endfor %}
		{% endif %}

		<div class="container-profileLogin" style="background-image: url('/static/search_engine/images/background-1.jpg');">
			<div class="wrap-profileLogin">
				<form class="profileLogin-form validate-form">
					<span class="profileLogin-form-title">
						Sign In With
					</span>

					<a href="{% provider_login_url 'google' %}" style="text-decoration:none;" class="button-google">
						<img src="/static/search_engine/images/icons/icon-google.png" alt="GOOGLE">
						Google
					</a>
					

					<a href="{% provider_login_url "facebook" method="oauth2" %}" style="text-decoration:none;" class="button-face">
						<img src="/static/search_engine/images/icons/logo-facebook.png" alt="FACEBOOK">
						<i class="fa fa-facebook-official">
						</i>
						Facebook
					</a>

					<div class="username_text">
						<span class="text1">
							Username
						</span>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Username is required">
						<input class="input100" type="text" name="username" >
						<span class="focus-input100"></span>
					</div>
					
					<div class="password_text">
						<span class="text1">
							Password
						</span>

						<a href="{% url 'search_engine-accountRecovery' %}"  class="text2">
							Forgot?
						</a>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" name="pass" >
						<span class="focus-input100"></span>
					</div>

					<div class="container-profileLogin-form-button">
						<button class="profileLogin-form-button">
							Sign In
						</button>
					</div>

					<div class="sign-up-prompt">
						<span class="text2">
							Not a member?
						</span>

						<a href="{% url 'search_engine-signup' %}" class="text2">
							Sign Up Now
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>



{% endblock content %}