{% block content %}
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700" rel="stylesheet" />
  <link href="/static/search_engine/search.css" rel="stylesheet" />
</head>

<body>
  {% if user.is_authenticated %}
  <div id="mySidenavigation" class="sidenavigation">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNavigation()">&times;</a>
    <a href="{% url 'search_engine-user' %}">Profile</a>
    <a href="{% url 'search_engine-searchClusters' %}">Clusters</a>
    <a href="{% url 'search_engine-search' %}">Search</a>
    <a href="{% url 'search_engine-about' %}">About</a>
    <a href="{% url 'search_engine-logout' %}">Logout</a>
  </div>

  {% else %}
  <div id="mySidenavigation" class="sidenavigation">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNavigation()">&times;</a>
    <a href="{% url 'search_engine-login' %}">Login</a>
    <a href="{% url 'search_engine-signup' %}">Signup</a>
    <a href="{% url 'search_engine-about' %}">About</a>
  </div>
  {% endif %}

  <div class="nav" style="font-size:40px;cursor:pointer; color: crimson;" onclick="openNavigation()">&#9776;

  </div>

  <div class="searching">

    <form action = "" method = "POST">
      {% csrf_token %}
      <fieldset>
        <legend>SEARCH THE WEB</legend>
      </fieldset>
      <div class="inner-form">
        <div class="left">
          <div class="input-wrap first">
            <div class="input-field first">
              <label>Cluster Name</label>
              <input type="text" name = "cluster" placeholder="ex: Education PDFs" />
            </div>
          </div>
        </div>
      </div>
      <div class="inner-form">
        <div class="left">
          <div class="input-wrap first">
            <div class="input-field first">
              <label>URLs</label>
              <input type="text" name = "urlsText" placeholder="ex: www.nsu.com, www.bracu.com" />
            </div>
          </div>
          <div class="input-wrap second">
            <div class="input-field second">
              <label>Content</label>
              <div class="input-select">
                <select data-trigger="" name="choices-single-defaul">
                  <option placeholder="">All Content</option>
                  <option>TEXT Files</option>
                  <option>DOC Files</option>
                  <option>PDF Files</option>
                  <option>Non-HTML Files</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <button class="btn-search" type="submit">SEARCH</button>
      </div>
    </form>
  </div>
  <script src="http://js/extention/choices.js"></script>
  <script>
    const choices = new choices('[data-trigger]',
      {
        searchEnabled: false,
        itemSelectText: '',
      });

  </script>

  <script>
    function openNavigation() {
      document.getElementById("mySidenavigation").style.width = "250px";
    }

    function closeNavigation() {
      document.getElementById("mySidenavigation").style.width = "0";
    }
  </script>

</body>

</html>
{% endblock content %}